.btn {
    padding: 10px;
    color: white;
    background-color: red;
    border-radius: 15px;
    margin: 2px;
    border-width: 0px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    -webkit-box-shadow:0px 0px 31px 0px red;
    -moz-box-shadow: 0px 0px 31px 0px red;
    box-shadow: 0px 0px 31px 0px red;
}

body, html {
    background-color: rgb(5, 5, 5);
    font-family: Arial;

}

h1 {
    color: white;
}

#rating {
    margin: 10px;
    overflow: hidden;
}
